body, html{
    width: 100vw;
    height: 100vh;
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:20vw;
    height: 60vh;
    margin-top: 4vh;
}

.qrcode{
    overflow: hidden;
    border-radius: 25px;
    width: 60%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qrcode img{
    
    width:125%;
    height:125%;
    object-fit: contain;
   
}

.texto{
    width: 80%;
}
.texto h2{
   color: hsl(218, 44%, 22%);
   
   font-weight: 700;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   text-align: center;
}

.texto p{  
    font-size: 15px;
    font-weight: 400;
    color:hsl(220, 15%, 55%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .container{
        background-color: hsl(0, 0%, 100%);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width:80%;
        height: 90vh;
        
    }
    
    .qrcode{
        overflow: hidden;
        border-radius: 25px;
        width: 90%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:-12vh;
       
    }
    .qrcode img{
        
        width:120%;
        height:120%;
        object-fit: contain;
       
    }
    
    .texto{
        width: 80%;
    }
    .texto h2{
       color: hsl(218, 44%, 22%);
       font-size: 20px;
       font-weight: 700;
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       text-align: center;
    }
    
    .texto p{  
        font-size: 15px;
        font-weight: 400;
        color:hsl(220, 15%, 55%);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }
}
@media only screen and (max-height: 600px) {
    .qrcode{
        overflow: hidden;
        border-radius: 25px;
        width: 70%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:-12vh;
       
    }
}
